*.o
*.o-*
*.a
*.cache
*.Po
*.o.tmp
Makefile
config.log
config.status
.deps
autom4te.cache/*
.dirstamp
unittest
.libs
generate
.DS_Store
UserInterfaceState.xcuserstate
server
*.in~
*.tar.gz
configure~
libbibledit.a.*

