.superscript {
  vertical-align: super;
  font-size: x-small;
}
.add {
  font-style: italic;
}
.b {
  font-size: 12pt;
}
.bd {
  font-weight: bold;
}
.bdit {
  font-weight: bold;
  font-style: italic;
}
.bk {
  font-style: italic;
}
.c {
  margin-bottom: -3mm;
  font-weight: bold;
  font-size: 30pt;
}
.cd {
  margin-top: 8mm;
  margin-bottom: 4mm;
  font-size: 11pt;
}
.cls {
  text-align: right;
  font-size: 12pt;
}
.d {
  margin-top: 4mm;
  margin-bottom: 4mm;
  text-align: center;
  font-style: italic;
  font-size: 12pt;
  page-break-inside: avoid;
}
.dc {
  font-style: italic;
}
.em {
  font-style: italic;
}
.f {
  font-style: italic;
  font-size: 12pt;
}
.fe {
  font-style: italic;
  font-size: 12pt;
}
.fk {
  font-weight: bold;
  font-style: italic;
}
.fl {
  font-weight: bold;
  font-style: italic;
}
.fm {
  vertical-align: super;
  font-size: x-small;
}
.fq {
  font-style: italic;
}
.fqa {
  font-style: italic;
}
.fr {
  font-weight: bold;
}
.ib {
  font-size: 5pt;
}
.iex {
  margin-top: 4mm;
  margin-bottom: 4mm;
  text-indent: 3.2mm;
  font-size: 12pt;
}
.im {
  font-size: 12pt;
}
.imi {
  margin-right: 6.4mm;
  margin-left: 6.4mm;
  font-size: 12pt;
}
.imq {
  margin-right: 6.4mm;
  margin-left: 6.4mm;
  font-style: italic;
  font-size: 12pt;
}
.imt {
  margin-top: 8mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  page-break-inside: avoid;
}
.imt1 {
  margin-top: 8mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  page-break-inside: avoid;
}
.imt2 {
  margin-top: 6mm;
  margin-bottom: 3mm;
  text-align: center;
  font-style: italic;
  font-size: 13pt;
  page-break-inside: avoid;
}
.imt3 {
  margin-top: 2mm;
  margin-bottom: 2mm;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  page-break-inside: avoid;
}
.imt4 {
  margin-top: 2mm;
  margin-bottom: 2mm;
  text-align: center;
  font-style: italic;
  font-size: 12pt;
  page-break-inside: avoid;
}
.imte {
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  page-break-inside: avoid;
}
.io {
  margin-left: 12.7mm;
  font-size: 12pt;
  page-break-inside: avoid;
}
.io1 {
  margin-left: 12.7mm;
  font-size: 12pt;
  page-break-inside: avoid;
}
.io2 {
  margin-left: 19.1mm;
  font-size: 12pt;
  page-break-inside: avoid;
}
.io3 {
  margin-left: 25.4mm;
  font-size: 12pt;
  page-break-inside: avoid;
}
.io4 {
  margin-left: 31.8mm;
  font-size: 12pt;
  page-break-inside: avoid;
}
.iot {
  margin-top: 8mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  page-break-inside: avoid;
}
.ip {
  text-indent: 5mm;
  font-size: 12pt;
}
.ipi {
  margin-right: 6.3mm;
  margin-left: 6.3mm;
  text-indent: 3.2mm;
  font-size: 12pt;
}
.ipq {
  margin-right: 6.4mm;
  margin-left: 6.4mm;
  text-indent: 3.2mm;
  font-style: italic;
  font-size: 12pt;
}
.ipr {
  margin-right: 6.4mm;
  margin-left: 6.4mm;
  text-align: right;
  font-style: italic;
  font-size: 12pt;
}
.iq {
  margin-left: 25.4mm;
  text-indent: -19.1mm;
  font-style: italic;
  font-size: 12pt;
}
.iq1 {
  margin-left: 25.4mm;
  text-indent: -19.1mm;
  font-style: italic;
  font-size: 12pt;
}
.iq2 {
  margin-left: 25.4mm;
  text-indent: -12.7mm;
  font-style: italic;
  font-size: 12pt;
}
.iq3 {
  margin-left: 25.4mm;
  text-indent: -6.4mm;
  font-style: italic;
  font-size: 12pt;
}
.is {
  margin-top: 8mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  page-break-inside: avoid;
}
.is1 {
  margin-top: 8mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  page-break-inside: avoid;
}
.is2 {
  margin-top: 8mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  page-break-inside: avoid;
}
.it {
  font-style: italic;
}
.k {
  font-style: italic;
}
.k1 {
  font-size: 12pt;
  page-break-inside: avoid;
}
.k2 {
  font-size: 12pt;
  page-break-inside: avoid;
}
.li {
  margin-right: -9.3mm;
  margin-left: 15.9mm;
  font-size: 12pt;
}
.li1 {
  margin-left: 12.7mm;
  text-indent: -6.4mm;
  font-size: 12pt;
}
.li2 {
  margin-left: 19.1mm;
  text-indent: -6.4mm;
  font-size: 12pt;
}
.li3 {
  margin-left: 25.4mm;
  text-indent: -6.4mm;
  font-size: 12pt;
}
.li4 {
  margin-left: 31.8mm;
  text-indent: -6.4mm;
  font-size: 12pt;
}
.lit {
  font-weight: bold;
}
.m {
  font-size: 12pt;
}
.mi {
  margin-right: 6.4mm;
  margin-left: 6.4mm;
  font-size: 12pt;
}
.mr {
  margin-bottom: 4mm;
  text-align: center;
  font-style: italic;
  font-size: 12pt;
  page-break-inside: avoid;
}
.ms {
  margin-top: 16mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  page-break-inside: avoid;
}
.ms1 {
  margin-top: 16mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  page-break-inside: avoid;
}
.ms2 {
  margin-top: 16mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  page-break-inside: avoid;
}
.mt {
  margin-top: 8mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  page-break-inside: avoid;
}
.mt1 {
  margin-top: 2mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  page-break-inside: avoid;
}
.mt2 {
  margin-bottom: 2mm;
  text-align: center;
  font-style: italic;
  font-size: 16pt;
  page-break-inside: avoid;
}
.mt3 {
  margin-top: 2mm;
  margin-bottom: 2mm;
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  page-break-inside: avoid;
}
.mt4 {
  margin-top: 2mm;
  margin-bottom: 2mm;
  text-align: center;
  font-size: 12pt;
  page-break-inside: avoid;
}
.mte {
  margin-top: 8mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  page-break-inside: avoid;
}
.mte1 {
  margin-top: 8mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  page-break-inside: avoid;
}
.mte2 {
  margin-bottom: 2mm;
  text-align: center;
  font-style: italic;
  font-size: 16pt;
  page-break-inside: avoid;
}
.nb {
  text-align: justify;
  font-size: 12pt;
}
.nd {
  text-decoration: underline;
}
.ord {
  vertical-align: super;
  font-size: x-small;
}
.p {
  text-align: justify;
  text-indent: 3.2mm;
  font-size: 12pt;
}
.p1 {
  text-indent: 3.2mm;
  font-size: 12pt;
  page-break-inside: avoid;
}
.p2 {
  margin-left: 3.2mm;
  text-indent: 3.2mm;
  font-size: 12pt;
  page-break-inside: avoid;
}
.pc {
  text-align: center;
  font-size: 12pt;
}
.pi {
  margin-right: 6.4mm;
  margin-left: 6.4mm;
  text-indent: 3.2mm;
  font-size: 12pt;
}
.pi1 {
  margin-right: 6.4mm;
  margin-left: 6.4mm;
  text-indent: 3.2mm;
  font-size: 12pt;
}
.pi2 {
  margin-right: 6.4mm;
  margin-left: 12.7mm;
  text-indent: 3.2mm;
  font-size: 12pt;
}
.pi3 {
  margin-right: 6.4mm;
  margin-left: 19.1mm;
  text-indent: 3.2mm;
  font-size: 12pt;
}
.pm {
  margin-right: 6.4mm;
  margin-left: 6.4mm;
  text-indent: 3.2mm;
  font-size: 12pt;
}
.pmc {
  margin-right: 6.4mm;
  margin-left: 6.4mm;
  font-size: 12pt;
}
.pmo {
  margin-right: 3.2mm;
  margin-left: 3.2mm;
  font-size: 12pt;
}
.pmr {
  margin-right: 6.4mm;
  margin-left: 6.4mm;
  text-align: right;
  font-size: 12pt;
}
.pn {
  text-decoration: underline;
  font-weight: bold;
}
.q {
  margin-left: 25.4mm;
  text-indent: -19.1mm;
  font-size: 12pt;
}
.q1 {
  margin-left: 24.4mm;
  text-indent: -19.1mm;
  font-size: 12pt;
}
.q2 {
  margin-left: 25.4mm;
  text-indent: -12.7mm;
  font-size: 12pt;
}
.q3 {
  margin-left: 25.4mm;
  text-indent: -6.4mm;
  font-size: 12pt;
}
.qa {
  font-style: italic;
  font-size: 12pt;
}
.qac {
  font-style: italic;
}
.qc {
  text-align: center;
  font-size: 12pt;
}
.qm {
  margin-left: 25.4mm;
  text-indent: -19.1mm;
  font-size: 12pt;
}
.qm1 {
  margin-left: 25.4mm;
  text-indent: -19.1mm;
  font-size: 12pt;
}
.qm2 {
  margin-left: 25.4mm;
  text-indent: -12.7mm;
  font-size: 12pt;
}
.qm3 {
  margin-left: 25.4mm;
  text-indent: -6.4mm;
  font-size: 12pt;
}
.qr {
  text-align: right;
  font-size: 12pt;
}
.qs {
  font-style: italic;
}
.qt {
  font-style: italic;
}
.r {
  margin-bottom: 4mm;
  text-align: center;
  font-style: italic;
  font-size: 12pt;
  page-break-inside: avoid;
}
.rq {
  margin-bottom: 4mm;
  text-align: right;
  font-style: italic;
  font-size: 12pt;
}
.s {
  margin-top: 8mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  page-break-inside: avoid;
}
.s1 {
  margin-top: 8mm;
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  page-break-inside: avoid;
}
.s2 {
  margin-top: 8mm;
  margin-bottom: 4mm;
  text-align: center;
  font-style: italic;
  font-size: 12pt;
  page-break-inside: avoid;
}
.s3 {
  margin-top: 6mm;
  margin-bottom: 3mm;
  font-style: italic;
  font-size: 12pt;
  page-break-inside: avoid;
}
.s4 {
  margin-top: 6mm;
  margin-bottom: 3mm;
  font-style: italic;
  font-size: 12pt;
  page-break-inside: avoid;
}
.sc {
  font-variant: small-caps;
}
.sig {
  font-style: italic;
}
.sls {
  font-style: italic;
}
.sp {
  margin-top: 8mm;
  margin-bottom: 4mm;
  font-style: italic;
  font-size: 12pt;
  page-break-inside: avoid;
}
.sr {
  margin-bottom: 4mm;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  page-break-inside: avoid;
}
.tl {
  font-style: italic;
}
.v {
  vertical-align: super;
  font-size: x-small;
}
.wj {
  color: #F00;
}
.x {
  font-style: italic;
  font-size: 12pt;
}
.xk {
  font-style: italic;
}
.xo {
  font-weight: bold;
}
.xq {
  font-style: italic;
}
